/* 全局样式表 */
html,body,#app{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.el-breadcrumb{
    margin-bottom: 25px;
}
.el-card{
    box-shadow: 2px 8px 15px rgb(182, 182, 182) !important;
    line-height: 0px !important;
}
.el-table{
    margin-top: 25px;
}
.el-pagination{
    margin-top: 20px ;
}